*{
    padding: 0;
    margin: 0;
}
#image{
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h4{
    text-align: center;
    color: teal;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    text-align: center;
}
/* button#table{
    margin-left: 550px;
} */
#table{
    text-align: center;
    margin-left: 510px;
    padding: 10px;
    line-height: 1.5;
    color: teal;
    /* border: 1px solid teal;
    border-collapse: collapse; */
    /* display: block; */
    /* padding-left: 38%; */
    /* border-left: 50%; */
}
table,th,tr{
        border: 1px solid teal;
        border-collapse: collapse;
        padding: 10px;
        /* color: #a2d5f2; */
        color: black;
        margin-left: 490px;
        margin-top: 30px;
}